################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ShareDemo/.vs/TestId4
/ShareDemo/Id4WebApi/bin/Debug/netcoreapp3.1
/ShareDemo/Id4WebApi/obj
/ShareDemo/TestId4/bin/Debug/netcoreapp3.1
/ShareDemo/TestId4/obj
/ShareDemo/.vs/ShareDemo
/ShareDemo/ContainerApp/.vs/RiiZoo.HotelContainerApp/DesignTimeBuild
/ShareDemo/ContainerApp/bin/Debug
/ShareDemo/ContainerApp/obj
/ShareDemo/ContainerApp.Interface/bin/Debug/netcoreapp3.1
/ShareDemo/ContainerApp.Interface/obj
/ShareDemo/IdentityServer/bin/Debug/netcoreapp3.1
/ShareDemo/IdentityServer/obj
/ShareDemo/WebApi/bin/Debug/netcoreapp3.1
/ShareDemo/WebApi/obj
/ShareDemo/ContainerApp.Event/bin/Debug/netcoreapp3.1
/ShareDemo/ContainerApp.Event/obj
/ShareDemo/ContainerApp.Handler/bin/Debug/netcoreapp3.1
/ShareDemo/ContainerApp.Handler/obj
/ShareDemo/DemoAApi/bin/Debug/netcoreapp3.1
/ShareDemo/DemoAApi/obj
/ShareDemo/DemoBApi/bin/Debug/netcoreapp3.1
/ShareDemo/DemoBApi/obj
/ShareDemo/EventBus/bin/Debug/netcoreapp3.1
/ShareDemo/EventBus/obj
/ShareDemo/EventBusRabbitMQ/bin/Debug/netcoreapp3.1
/ShareDemo/EventBusRabbitMQ/obj
/ShareDemo/EventBusRedis/bin/Debug/netcoreapp3.1
/ShareDemo/EventBusRedis/obj
